[Unit]
Description=Nexus Listener Service
After=network.target

[Service]
Type=simple
User=user
ExecStart=/usr/bin/java -jar nexus-listener-service.jar -u https://maven.re.po -f portlet-deploy/ -o other-deploy/ -p 1234 -k 4321 portlet service cli
Restart=on-abort

[Install]
WantedBy=multi-user.target
